node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
gold.sh
code.txt
/backend/venv/
.env
backend/.env
env/

/__pycahce__
__pycahce__/
/*/*/__pycahce__
__pycache__/